h1{
    color: red;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600x;
    width: 500px;
    background-color: yellow;
    padding: 50px;
    border: magenta;
}
#spandId{
    font-size: 18px;
    margin: 50px;
}